:root {
    --heavyColor: #CA786D;
    --lightColor: #D6FAFD;
    --complimentary: #535459;
    --imgBorders: 5px solid var(--heavyColor);
}

body {
    background-color: var(--lightColor);
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--heavyColor);
    position: fixed;
    width: 100%;
    z-index: 3;
}

header .name {
    font-size: 275%;
    color: var(--complimentary);
    padding-left: 10px;
    margin: 0;
}

header nav {
    padding-left: 20%;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

header nav ul li {
    float: left;
}

header nav ul li a {
    display: block;
    color: var(--complimentary);
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-weight: bolder;
}

header nav ul li a:hover {
    background-color: #FF9789;
}

main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1350px;
    margin: auto;
    z-index: 2;
}

#background-split {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: #95AEB0;
    z-index: 1;
}

.container {
    display: flex;
    padding-top: 50px;
    width: 100%;
    z-index: inherit;
}

h2 {
    font-size: 200%;
    padding-left: 50px;
    padding-right: 75px;
    color: var(--heavyColor);
}

#about-me {
    padding-right: 14px;
}

#about-me-img {
    width: 150px;
    border-radius: 10%;
    border: 2px dashed var(--heavyColor);
}

.items {
    padding-left: 10px;
    padding-right: 50px;
    border-left: solid;
    border-color: black;
}

#big-img {
    border: var(--imgBorders);
    max-width: 100%;
    height: auto;
    width: auto;
}

#big-img:hover {
    filter: sepia(33%);
}

#img4x4 {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 30px 0px 40px;
    justify-content: center;
    gap: 20px 20px;
}

.small-img {
    border: var(--imgBorders);
    width: 400px;
}

.small-img:hover {
    filter: sepia(33%);
}

#work {
    padding-right: 88px;
}

.text-bottom-right {
    position: absolute;
    bottom: 20px;
    right: 40px;
    font-size: 20px;
}

#contact-list {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

#contact-list li {
    list-style-type: none;
    color: var(--heavyColor);
    font-size: 20px;
    padding-left: 20px;
    font-weight: bolder;
}

#contact-list li a {
    color: var(--complimentary);
    text-decoration: none;
}

#contact-me {
    padding-left: 0;
    padding-right: 44px;
}

footer {
    z-index: inherit;
}

@media screen and (max-width: 840px) {
    header {
        display: block;
        justify-content: center;
    }

    header .name {
        text-align: center;
        font-size: 275%;
        color: var(--complimentary);
        padding-left: 0px;
        margin: 0;
    }

    header nav {
        padding-left: 0;
    }

    header nav ul{
        display: flex;
        justify-content: center;
    }

    header nav ul li {
        float: none;
    }

    main{
        padding-top: 50px;
    }

    .container {
        display: block;
        padding-top: 50px;
        text-align: center;
        justify-content: center;
    }

    h2{
        padding-left: 0px;
        margin-bottom: 0px;
    }

    #about-me {
        padding-right: 0px;
    }

    #about-me-img {
        margin-top:20px;
        width: 200px;
    }

    .items {
        padding-left: 15px;
        padding-right: 15px;
        border-left: 0px;
        padding-top: 20px;
    }

    #work{
        padding-right: 0px;
    }

    #contact-me {
        padding-right: 0px;
        text-align: center;
    }

    #contact-list {
        display:inline-flexbox;
        justify-content:space-evenly;
    }

    #contact-list li {
        list-style-type: none;
        color: var(--heavyColor);
        font-size: 20px;
        padding-left: 0px;
        font-weight: bolder;
    }
}

