*{
    font-family: Helvetica, Arial, sans-serif;
}

body{
    background-color: #D5D4FF;
    margin: 0px;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #626099;
    position:fixed;
    width: 100%;

}

header .name{
    padding-left: 10px;
    
}

header nav{

}

header nav ul{
    padding-left: 0%;
    margin-top: 50px;
    margin-bottom: 0px;
    
}

header nav ul li{
    display: inline;
    font-size: 20px;
    padding: 5px;
    background-color: #E6DBA8;
}

