:root{
    --heavyColor: #CA786D;
    --lightColor: #D6FAFD;
    --complimentary: #535459;
}

body{
    background-color: var(--lightColor);
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}

header{
    display: flex;
    justify-content: space-between;
    /* background-image: url("../images/banner_img.png"); */
    background-color: var(--heavyColor);
    position: fixed;
    width: 100%;
    z-index: 3;
}

header .name{
    font-size: 275%;
    color: var(--complimentary);
    padding-left: 10px;
    margin: 0;
    
    
}

header nav{
    padding-left: 20%;
}

header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

header nav ul li{
    float: left;
}

header nav ul li a{
    display: block;
    color: var(--complimentary);
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-weight: bolder;
}

header nav ul li a:hover{
    background-color: #FF9789;
}

main{
    display: flex;
    flex-wrap: wrap;
    max-width: 1350px;
    margin: auto;
    z-index: 2;
}

#background-split{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: #95AEB0;
    z-index: 1;
}

.container{
    display: flex;
    padding-top: 50px;
    min-width: 800px;
    z-index: inherit;
}

h2{
    font-size: 200%;
    padding-left: 50px;
    padding-right: 75px;
    color: var(--heavyColor);
    
}

.items{
    padding-left: 10px;
    padding-right: 50px;
    border-left: solid;
    border-color: black;
}

#work{
    padding-right: 88px;
}

#big-img{
    max-width: 100%;
    height: auto;
    width: auto;
}

#contact-list{
    display:flex;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    width: fit-content;
}
#contact-list li{
    display: inline;
    font-size: 20px;
    padding-left: 20px;
}

#contact-me{
    padding-right: 48px;
}

footer{
    z-index: inherit;
}